<phpunit 	bootstrap="vendor/autoload.php"			
			colors="true"
			convertErrorsToExceptions="true"
			convertNoticesToExceptions="true"
			convertWarningsToExceptions="true"
			stopOnFailure="true">
			<testsuites>
				<testsuite name="Unit Tests">
					<directory>tests</directory>
				</testsuite>
			</testsuites>
			<php>
				<env name="ACTIVECAMPAIGN_API_URL" value="XXXXXXXXXXXXXX"/>
				<env name="ACTIVECAMPAIGN_API_KEY" value="XXXXXXXXXXXXXX"/>
			</php>
</phpunit>